<!--The content below is only a placeholder and can be replaced.-->
<!-- <header style="text-align:center">
  <mat-toolbar>welcome to the site</mat-toolbar>
</header> -->

<div style="text-align:center">
  <mat-toolbar>welcome to the site</mat-toolbar>
</div>


<body>
  

<div id="opener">
  <mat-card id="bilal">bilal</mat-card>

  <mat-card id="ventures">ventures</mat-card>
</div>

<br>
<app-displayarea></app-displayarea>



<footer style="text-align: center">
    <ul>
      <a href="https://www.linkedin.com/in/bilal-ashraf-1abb2a42" class="fa fa-linkedin"></a>
    </ul>
    <ul>
      <a href="https://www.github.com/sashraf16" class="fa fa-github"></a>
    </ul>
    <ul>
      <a href="https://www.youtube.com" class="fa fa-youtube"></a>
    </ul>
    <ul>
      <a href="https://www.google.com" class="fa fa-google"></a>
    </ul>
</footer>
</body>

<!-- <footer>
  <mat-nav-list class="list-inline">
    <mat-list-item><i class="fa fa-linkedin"></i></mat-list-item>
    <mat-list-item><i class="fa fa-github"></i></mat-list-item>
        <ul><i class="fa fa-github"></i></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
  </mat-nav-list>
</footer> -->

<router-outlet></router-outlet>